<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="/">ControlDent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

   <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <%= link_to 'Profesionales', profesionals_path %>
        </li>
      </ul>
      <ul class="my-2 my-lg-0">
        <% if session[:user_id] == nil %>
            <li class="nav-item">
                <%= link_to "Iniciar sesión", users_path %>
            </li>
            <li class="nav-item">
                <%= link_to "Registro", register_path %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to "Cerrar sesión", logout_path(), :method => :delete %>
            </li>            
      <% end %>

      </ul>
    </div>
  </nav>