<div class="container">
    <h1>Editar Profesional</h1>

    <%= render 'form', profesional: @profesional %>

    <%= link_to 'Mostrar', @profesional %> |
    <%= link_to 'Volver', profesionals_path %>
</div>
