<script>
    $(document).ready(function() {
        $(".jquery-test").html("jQuery is working.");
    })
</script>

<div class="jquery-test"> 
    <h1>Aun no pasa nada</h1>
    <p>Find me in app/views/home/index.html.erb</p>
</div>
